body {
    background-image: url("../img/fondos/wave1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-orange {
    background-color: orange !important;
    color: white;
}

.btn-orange:hover {
    background-color: darkorange !important;
    color: whitesmoke;
}

.btn-orange:active {
    background-color: #ffb326 !important;
    color: lightgray;
}

.text-dorange {
    color: darkorange;
}

.logo-sena-large {
    height: 250px;
    width: auto;
}

.logo-sena-medium {
    height: 170px;
    width: auto;
}

.cam {
    background-color: black;
    height: 150px;
    width: auto;
}